
* {
  box-sizing: border-box;
  font-family: Comic Sans MS;
}
.row {
	font-size: 20px;
}

 h1 {
	font-size: 175%;
	font-family: times new rom
}

 h2 {
	font-size: 150%;
}

.abc {
	background-color: #D3D3D3;
	padding: 10px;
	margin-right: 10px;
	border: 1px solid;
	position: relative;

}
 p {
	padding-top: 20px;
}

h1 {
	text-align: center;
	margin-bottom: 50px; 
}

h2 {
	border: 1px solid;
	position: absolute;
	right: 0;
	top: 0;
	margin-top: 0px;

}

.chicken {
	background-color: #FF69B4; 
	
}

.beef {
	background-color: #FFFF00;
	
}

.sushi {
	background-color: #D2B48C;
	
}
/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Large devices only **********/
@media (min-width: 992px) {
	.col-lg-4 {
		float: left;
		width: 33%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6 {
		float: left;
		width: 50%;
	}
	.col-md-12 {
		float: left;
		width: 100%;
	}
}

@media (max-width: 767px) {
	.col-sm-12 {
		float: left;
		width: 100%;
	}
}
}

